<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Submission5_1/src/WordFinderMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="WordFinderMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="dorian-gray.txt&#13;&#10;bad-file.txt&#13;&#10;http://www.dcs.gla.ac.uk/~mefoster/joose2/frankenstein.txt&#13;&#10;http://www.dcs.gla.ac/~mefoster/joose2/frankenstein.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Submission5_1"/>
</launchConfiguration>
